<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>REGISTRATION PAGE</title>
    <link rel="stylesheet" href="stylesforregis.css">
</head>
<body>
	<h2>great the password is correct</h2>
</body>
</html>