<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>REGISTRATION PAGE</title>
    <link rel="stylesheet" href="stylesforregis.css">
</head>
<body>
    <div class="regcontainer">
        <h2>Sign up</h2>

        <form action="/tail" method="POST">
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="email" name="mailid" placeholder="Your Email Id" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="radio" name="role" id="seller">Seller
            <input type="radio" name="role" id="buyer">Buyer
            <input type="submit" value="Submit">
        </form>
    </div>

<script type="text/javascript" src="app.js"></script>
</body>
</html>