*{
	box-sizing: border-box;
	margin: 0;
}

body {
	background: url("intro.jpg");
	background-size: cover;
}

.regcontainer {
	max-width: 400px;
	border-radius: 20px;
	margin: auto;
	background: mintcream;
	margin-top: 100px;
	opacity: 90%;
	padding: 40px;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

input[type = text], input[type = password], input[type = email] {
	width: 100%;
	padding: 12px 5px;
	border: none;
	border-bottom: 3px ridge black;
	border-radius: 5px;
	margin: 5px auto 10px;
	font-weight: bold;
	
}

input[type = radio] {
	margin:  10px 5px 10px 40px;
}

input[type = submit] {
	outline: none;
	padding: 10px 0;
	border: none;
	width: 100%;
	margin: 30px auto 0;
	opacity: 0.7;
	font-size: 20px;
	background-color: dodgerblue;
	border-radius: 20px;
	font-weight: bold;
}

input[type = submit]:hover {
	cursor: pointer;
	background-color: teal;
}